<ion-header>

  <ion-navbar>
    <ion-title>
      Season : {{season.number}}
    </ion-title>
    <ion-buttons right clear>
      <button (click)="toroot()" clear>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item *ngFor="let episode of (episodes|async)">
    <ion-card ion-item *ngIf="!!episode.number" (click)="openDetails(episode)">
      <img src="{{episode?.image.original}}" alt="Image not available" cache/>
      <ion-card-header>
        Episode {{episode.number}} : {{episode.name}}
      </ion-card-header>
            <!--  -->
    </ion-card>
  </ion-item>
</ion-content>
